.info-tekst {
    padding-bottom:50px;
    padding-top:2%;
    position: relative;
    margin-left:29%;
    width:40%;
}
.bookingtitle{
    color:#37B4E8;
    font-size: 50px;
    position: absolute;
    margin-left: 15%;
    margin-top:-25%;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: 2px 2px 8px rgb(7, 36, 63);
}

.adresse-booking:link{
  color: #283618;
}
.adresse-booking:visited{
  color: #283618;
}
.adresse-booking:hover{
  color: #bc6c25;
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;  
    padding-top: 50px;
    padding-right: 200px;
    justify-content: center;
    padding-left: 300px;
    
    
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;
}

.container-booking {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
  padding-left: 50px;
}
.underoverskrift-booking{
  padding-left: 250px;
}

.form-child1{
  padding-left: 200px;
}
.form-child2{
  padding-left: 200px;
}
.form-child3{
  padding-left: 400px;
}

input[type=text]{
  width: 400px;
}

input[type=date]{
  width: 400px;
}
#time{
  width: 400px;
}
#event{
  width: 400px;
}
#folk{
    width: 400px;
}

.form-child3{
  padding-top: 50px;
  padding-left: 325px;
  padding-bottom: 50px;
}
.overlay {
    filter:brightness(60%);
    background-image: url(../bilder/bakgrunn.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    color:white;
    display:flex;
    justify-content: center;
    font-size: 40px;
    align-items:center;
}
/* Kode fra blogduda.no */
.map-responsive {

  padding-left: 40vw;


}

.map-responsive iframe{

  height:60%;
  width:30%;
  left:100px;
  top:900px;
  /*position:absolute;*/

}

@media only screen and (max-width: 600px) {
    .overlay{
      width: 100%;
      height:300px;
    }
    .info-tekst {
      width:80%;
      right:20%;
    }
    .bookingtitle {
       position: absolute;
       margin-top:-40%;
       font-size: medium;
    }
    .info-tekst-h2 {
      text-align:center;
      width:300px;
      margin-right: 50%;
    }


    .container-form {
      padding-left: 10%;

  }

  .form-child2{
    width: 20vw;
  }

  input[type=text]{
    width: 40vw;
  }

  input[type=date]{
    width: 40vw;
  }

  #time{
    width: 40vw;
  }
  #event{
    width: 40vw;
  }
  #folk{
      width: 40vw;
  }
  .form-child3{
    padding-left: 0vw;
  }

    h2{
        padding-left: 10%;
    }
      
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .map-responsive {
        padding-left: 40vw;
      }
      
      .map-responsive iframe{
      
        height:80%;
        width:100%;
        margin-left: -32%;
        margin-right: -32%;
        top:900px;
      
      }
    
      
   }