.info-tekst {
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    position: relative;
    margin-left:15%;
    width:40%;
}
.bookingtitle{
    color:#37B4E8;
    font-size: 50px;
    position: absolute;
    top:300px;
    left:50px;
    font-family: 'Inconsolata', monospace;
}
.location{
    display: flex;
    position: relative;
    padding-top: 100px;
    padding-right: 200px;
    
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;  
    padding-top: 50px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;
}

.container-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overlay {
    filter:brightness(40%);
    background-image: url(../bilder/bakgrunn.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    color:white;
    display:flex;
    justify-content: center;
    font-size: 40px;
    align-items:center;
}

@media screen and (max-width: 600px) {
    .overlay{
      width: 100%;
      height:300px;
    }
    .bookingtitle {
       position: absolute;
       margin-top:15%;
    }
    .location {
        position: relative;
        
    }
    h2{
        font-family: 'Rubik Mono One', sans-serif;
        color:#363d1d;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #fffbe1;
      border-radius: 4px;
      background-color: #ede9ce;
      resize: vertical;
      }
      input[type=date], select, date {
        width: 100%;
        padding: 12px;
        border: 1px solid #ede9ce;
        background-color: #ede9ce;
        border-radius: 4px;
        resize: vertical;
      }
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
      input[type=submit] {
        background-color: #606C38;
        color: white;
        padding: 12px 20px 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
     
      }
      input[type=submit]:hover {
        background-color: #193112;
      }  
      
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
    
      
   }