.info-tekst {
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    position: relative;
    margin-left:29%;
    width:40%;
}
.bookingtitle{
    color:#37B4E8;
    font-size: 50px;
    position: relative;
    margin-left: 15%;
    bottom:200%;
    font-family: 'Rubik Mono One', sans-serif;
    transform: translate( -1%, -500% );
}
.location{
    display: flex;
    position: relative;
    padding-top: 100px;
    padding-right: 200px;
    
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;  
    padding-top: 50px;
    padding-right: 200px;
    justify-content: center;
    padding-left: 500px;
    
    
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;
}

.container-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
  padding-left: 50px;
}

input[type=text]{
  width: 400px;
}

input[type=date]{
  width: 400px;
}
#time{
  width: 400px;
}
#event{
  width: 400px;
}
#folk{
    width: 400px;
}

.form-child3{
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 50px;
}
.overlay {
    filter:brightness(40%);
    background-image: url(../bilder/bakgrunn.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    color:white;
    display:flex;
    justify-content: center;
    font-size: 40px;
    align-items:center;
}
/* Kode fra blogduda.no */
.map-responsive {
 padding:20px;
}

.map-responsive iframe{
  height:30%;
  width:30%;
  left:100px;
  top:900px;
  position:absolute;
}

@media only screen and (max-width: 600px) {
    .overlay{
      width: 100%;
      height:300px;
    }
    .bookingtitle {
       position: absolute;
       margin-top:15%;
    }
    .location {
        position: relative;
        
    }

    .container-form {
      padding-left: 10%;

  }

  .form-child2{
    width: 20vw;
  }

  input[type=text]{
    width: 40vw;
  }

  input[type=date]{
    width: 40vw;
  }

  #time{
    width: 40vw;
  }
  #event{
    width: 40vw;
  }
  #folk{
      width: 40vw;
  }
  .form-child3{
    padding-left: 0vw;
  }
    h2{
        padding-left: 10%;
    }
      
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
    
      
   }