.info-tekst {
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    position: relative;
    margin-left:15%;
    width:40%;
}
.bookingtitle{
    color:#37B4E8;
    font-size: 50px;
    position: absolute;
    top:300px;
    left:50px;
    font-family: 'Inconsolata', monospace;
}
.location{
    display: flex;
    position: relative;
    padding-top: 50px;
    padding-right: 200px;
}
.container-form {
    border-radius: 5px;
    background-color: #FEFAE0;
}

.container-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
