@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

.container-forside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    border: 0em;
    filter: blur(199%);
  }

  .bakgrunnsbilde {
    height: auto;
  }

  .headline {
    position: absolute;
    font-size: 100px;
    color: #FEFAE0;
    font-size: 8vw;
    text-shadow: 2px 2px 8px rgb(166, 92, 31);
    padding-left: 6%;
    padding-top: 6%;
  }

  

  .knapp {
    position: absolute;
    margin-top: 20vw;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent;
    height: 30px;
    width: 200px;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left: 8%;
    margin-top: 28%;
}

.knapp:hover  {
    background-color: #283618;
    cursor: pointer;
}

 #bookinglink:hover{
     color: #FEFAE0;
}

 #bookinglink {
     color: #FEFAE0;
     text-decoration: none;
}

/* Responsiv forside */
@media only screen and (max-width: 600px){

    .headline {
      position: absolute;
      font-size: 10vw;
      word-wrap: break-word;
      height: 70%;
      padding-bottom: 20%;
      color: #FEFAE0;
     
    }

    .bakgrunnsbilde {
      height: 350px;
      width: auto;
      
    }
    
    .knapp {
      width: 20%; 
      position: absolute;
      margin-top: 40vw;
      
      
      
      
    }

    #bookinglink {
        font-size: medium;
        position: absolute;
        left: 7%;
        justify-content: center;  
        height: 10%; 
        
    }
  }
