@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

h2{
  padding-left: 500px;
}
.kontakt-form{
  padding-left: 500px;
}
.knapp-kontakt{
  padding-left: 150px;
  padding-top: 30px;
  padding-bottom: 10px;
}

input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #fffbe1;
    border-radius: 4px;
    background-color: #ede9ce;
    resize: vertical;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ede9ce;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #606C38;
    color: white;
    padding: 12px 20px 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*float: right;*/
  }
  input[type=submit]:hover {
    background-color: #454e25;
  }  
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .form-kontakt {
    padding:20px;
  }