@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
 body {
     background-color:#FEFAE0;
     font-family: 'Inconsolata', monospace;
     margin:0;
}
/*Størrelse på overskrift*/
 .underoverskift-kontakt {
     color:#BC6C25;
     margin-left: 35vw;
     font-size: 30px;
     padding-bottom: 1%;
}
/*Størrelse slutt*/
/*Fikser skjemaets størrelse og posisjon*/
 .kontakt-form{
     padding-left: 36%;
}
 .form-kontakt {
     padding:20px;
}
 input[type=text], select, textarea {
     width: 400px;
     padding: 12px;
     border: 1px solid #fffbe1;
     border-radius: 4px;
     background-color: #ede9ce;
     resize: vertical;
}
 label {
     padding: 12px 12px 12px 0;
     display: inline-block;
}
/*Fikser knapp under skjema*/
 .knapp-kontakt{
     padding-top: 3vw;
     padding-bottom: 1vw;
}
 input[type=submit] {
     background-color: #606C38;
     color: white;
     padding: 12px 20px 10px 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #454e25;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
/*Responsivitet*/
 @media only screen and (max-width: 900px){
     h2 {
         padding-left: 8vw;
    }
     .form-kontakt{
         padding-left: 8vw;
    }
     .kontakt-form{
         padding-left: 8vw;
    }
     input[type=text], textarea{
         width: 80%;
    }
     .underoverskift-kontakt {
         color:#BC6C25;
         font-size: 30px;
         margin-left: 0%;
         padding-bottom: 1%;
    }
}
