@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
 body {
     background-color:#FEFAE0;
     font-family: 'Inconsolata', monospace;
     margin:0;
}
/*Størrelse på overskrift*/
 #underoverskift-kontakt {
     color:#606C38;
     font-size: 30px;
     padding-top: 1%;
     padding-left: 37%;
     padding-bottom: 3%;
     left: 2vw;

}

/*Fikser skjemaets størrelse og posisjon*/
 .kontakt-form{
     padding-left: 35%;
}
 .form-kontakt {
     padding:20px;
     padding-left: 7%;
}
 input[type=text], select, textarea {
     width: 400px;
     padding: 12px;
     border: 1px solid #fffbe1;
     border-radius: 4px;
     background-color: #ede9ce;
     resize: vertical;
}
.kontakt-label {
     padding: 12px 12px 12px 0;
     display: inline-block;
}
/*Fikser knapp under skjema*/
 .knapp-kontakt{
    padding-top: 1vw;
    padding-bottom: 1vw;
  
}
 input[type=submit] {
     background-color: #606C38;
     color: white;
     padding: 12px 20px 10px 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 400px;
}
 input[type=submit]:hover {
     background-color: #454e25;
}

#infotekst-kontakt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 35%;
    width: 70%;
    text-align: center;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
/*Responsivitet*/
 @media only screen and (max-width: 1000px){
     h1 {
         padding-left: 8vw;
    }
     .form-kontakt{
         padding-left: 8vw;
    }
     .kontakt-form{
         padding-left: 8vw;
    }
     input[type=text], textarea{
         width: 80%;
    }
    input[type=submit], textarea{
        width: 80%;
   }
     #underoverskift-kontakt {
         color:#606C38;
         font-size: 30px;
         padding-bottom: 1%;
         padding-left: 19%;
    }
    #infotekst-kontakt {
        
        width: 100%;
        padding-left: 5%;

    }
}
