@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  background-color:#FEFAE0;
  font-family: 'IBM Plex Mono', monospace;
  margin:0;
}
* {
  box-sizing: border-box;
}
h2{
  font-family: 'Rubik Mono One', sans-serif;
  color:#BC6C25;
}
.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.meny {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 500px));
  grid-gap: 1.5rem;
}
.meny-del {
  display: grid;
  grid-template-columns: 150px minmax(200px 280px) 60px;
  grid-template-rows: autofill(30px 1fr);
  /* grid-row-gap: 10px;*/
  grid-column-gap: 10px;
  grid-template-areas:
    "img meny-rett pris"
    "img beskrivelse .";
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: top;
}
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
.meny-rett {
  grid-area: meny-rett;
  font-weight: bold;
}
.pris::after {
  content: " kr  ";
  font-weight: bold;
}
.pris {
  grid-area: pris;
  font-weight: bold;
}
.beskrivelse {
  grid-area: beskrivelse;
  margin: 1;
}

h1 {
margin: 0;
font-size: 1rem;
}
.col-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.bakgrunn {

 position: relative;
 width: 100%;
  text-align: center;
  width: 100%;
}
.tittel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  font-family:'Black Han Sans', sans-serif;
  color:#8a4309;
  font-family: monospace;
}
.knapp {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #606c38;
  padding: 15px 32px;
  color: #283618;
}

link:link {
  color: #FEFAE0;
  text-decoration: none;
}

link:visited {
  color: #FEFAE0;
}

link:hover {
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}
.header-index {
  background-image: url("/bilder/bakgrunn1.png");
  background-position: center;
  background-color: #946229;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}
.header-booking {
  background-color: #946229;
  position: relative;
  width: 100%;
  height: 200px;
}
article {
  display: inline-flex;
  width:400px;
  height: 500px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
footer {
  background-image: linear-gradient(#BC6C25, #946229);
  color:#FEFAE0;
  height:150px;
  padding:30px;
  text-align: center;
}
.book {
  margin-left:40px;
  color:white;
  font-family: 'Rubik Mono One', sans-serif;
  position: relative;
  top:160px;
  opacity: 90%;
  font-size: 30px;
  display: inline-flex;

}
.location{
  border-radius: 50%;
  border-style: hidden;
}
