@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
  background-color: #FEFAE0;
  font-family: 'IBM Plex Mono', monospace;
}
* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
}

.menu-item {
display: flex;
width: 50%;
list-style-type: none;
padding: 0 1rem;
margin: 0 0 1rem;
}

section {
display: flex;
flex-direction: column;
flex: 1;
}

header {
display: flex;
width: 100%;
justify-content:center;
align-items: center;

}

.spacer {
content: '';
width: 100%;
height: 1px;
margin: 0 .5rem;
border-bottom: 1px dashed black;
flex: 1;
}
  
h1 {
margin: 0;
font-size: 1rem;
}

.col-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.bakgrunn {

 position: relative;
 width: 100%;
  text-align: center;
  width: 100%;
}

.tittel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  font-family:'Black Han Sans', sans-serif;
  color:#8a4309;
  font-family: monospace;
}
.knapp {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #606c38;
  padding: 15px 32px;
  color: #283618;
}
