
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
 body {
     background-color:#FEFAE0;
     font-family: 'Inconsolata', monospace;
     margin:0;
}

footer {
  background-image: linear-gradient(#BC6C25, #946229);
  color:#FEFAE0;
  height:180px;
  padding:30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top:30px;
}



 /*Footer linker*/
 .telefonnummer {
  color: #FEFAE0;
}

.telefonnummer:hover{
  color: #283618;
}
 .mailen {
     color: #FEFAE0;
}
 .mailen:hover {
     color: #283618;
}
 a {
     text-decoration: none;
}
/*linker stopp*/


 body::-webkit-scrollbar {
     display: none;
}
 

  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 
  
  