@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
  background-color: #FEFAE0;
}
* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
}

.menu-item {
display: flex;
width: 50%;
list-style-type: none;
padding: 0 1rem;
margin: 0 0 1rem;
}

section {
display: flex;
flex-direction: column;
flex: 1;
}

header {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

.spacer {
content: '';
width: 100%;
height: 1px;
margin: 0 .5rem;
border-bottom: 1px dashed black;
flex: 1;
}
  
h1 {
margin: 0;
font-size: 1rem;
}

<<<<<<< HEAD
.col-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.bakgrunn {

  position: relative;
  text-align: center;
}

.tittel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
}

.knapp {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


=======
>>>>>>> b2195732b762b60d154738c51b5295791bc365c9
