@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
 body {
     background-color:#FEFAE0;
     font-family: 'Inconsolata', monospace;
     margin:0;
}

* {
  box-sizing: border-box;
}

 .wrapper {
     max-width: 1024px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
}
 .meny {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(360px, 500px));
     grid-gap: 1.5rem;
}
/* .meny-del {
     display: grid;
     grid-template-columns: 150px minmax(200px 280px) 60px;
     grid-template-rows: autofill(30px 1fr);
     grid-column-gap: 10px;
     grid-template-areas: "img meny-rett pris" "img beskrivelse . ";
     margin-top: 10px;
     margin-bottom: 10px;
     align-items: top;
}
 */
 .meny-del{
     position: relative;
     display: flex;
}
 .meny > .meny-del > img{
     margin-right: 10px;
}
 .pris{
     position: absolute;
     right: 10px;
     top: 0;
     float: right;
}
 @media only screen and (max-width: 600px) {
     .pris{
         position: unset;
         float: unset;
    }
}
 .meny-rett {
     grid-area: meny-rett;
     font-size: normal;
     font-weight: bolder;
}
 .pris::after {
     content: " kr ";
     font-weight: bold;
}
 .pris {
     grid-area: pris;
     font-weight: bold;
}
 .beskrivelse {
     grid-area: beskrivelse;
     margin: 1;
}
 h1 {
     margin: 0;
     font-size: 1rem;
}
 .col-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: stretch;
     align-content: stretch;
}

.header-index {
  background-image: url("/bilder/bakgrunn1.png");
  background-position: center;
  background-color: #946229;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  filter:brightness(80%);
}

.container-forside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  border: 0em;
}

.bakgrunnsbilde {
  /*width: 100%;
  height: 600px; */
  height: auto;


  /*
  background-position: center;
  background-color: #946229;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  filter:brightness(80%);*/
}

.headline {
  position: absolute;
  font-size: 100px;
  color: #FEFAE0;
  font-size: 8vw;
}
    
.knapp {
    position: absolute;
    bottom: 10%;
    left: 2%;
    cursor: pointer;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent ;
    height: 50px;
    width: 200px;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top:10px;
    text-align: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    padding-top: 0.5%;
}
.knapp:hover  {
    background-color: #283618;
}
 #bookinglink:hover{
     color: #FEFAE0;
}
 #bookinglink {
     color: #FEFAE0;
     text-decoration: none;
}
.telefonnummer {
  color: #FEFAE0;
}

.telefonnummer:hover{
  color: #283618;
}
 .mailen {
     color: #FEFAE0;
}
 .mailen:hover {
     color: #283618;
}
 a {
     text-decoration: none;
}
 body::-webkit-scrollbar {
     display: none;
}

 .header-booking {
     background-color: #946229;
     position: relative;
     width: 100%;
     height: 200px;
}
 article {
     display: flex;
     width:400px;
     height: 500px;
     flex-direction: column;
     align-content: center;
     align-items: center;
}
 footer {
     background-image: linear-gradient(#BC6C25, #946229);
     color:#FEFAE0;
     height:150px;
     padding:30px;
     text-align: center;
     padding-bottom: 20px;
     padding-top:20px;
}
 .book {
     margin-left:500px;
     color:white;
     font-family: 'Rubik Mono One', sans-serif;
     position: relative;
     text-align: center;
     opacity: 90%;
     font-size: 30px;
     display: inline-flex;
}

 .overlay {
     filter:brightness(40%);
     background-image: url(../bilder/bakgrunn.png);
     background-repeat: no-repeat;
     background-size: cover;
     height:100vh;
     color:white;
     display:flex;
     justify-content: center;
     font-size: 40px;
     align-items:center;
}
 

h2{
    font-family: 'Rubik Mono One', sans-serif;
    color:#363d1d;
}
input[type=text], select, textarea {
  width: 20%;
  padding: 12px;
  border: 1px solid #fffbe1;
  border-radius: 4px;
  background-color: #ede9ce;
  resize: vertical;
  }
  input[type=date], select, date {
    width: 10%;
    padding: 12px;
    border: 1px solid #ede9ce;
    background-color: #ede9ce;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #606C38;
    color: white;
    padding: 12px 20px 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*float: right;*/
  }
  input[type=submit]:hover {
    background-color: #193112;
  }  
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
.container-form {
    border-radius: 5px;

    background-color: #FEFAE0;
    padding-top:100px;

    padding: 20px;


  }
  
  @media screen and (max-width: 390px) {
    form, input[type=submit] {
      padding:10px;
      width:100%;
    }
    form, input[type=input] {
      padding:10px;
      width:100%;
    }
    form, input[type=date] {
      padding:10px;
      width:100%;
    }
    .header-index  {
      width:100%;
    }
    
  }
  
  /* Responsivitet forside */
  @media only screen and (max-width: 730px){

    .headline {
      position: absolute;
      font-size: 10vw;
      word-wrap: break-word;
      height: 70%;
      padding-bottom: 20%;
      color: #FEFAE0;
     
    }

    .bakgrunnsbilde {
      height: 350px;
      width: auto;
      
    }
    
    .knapp {
      width: 20%; 
      justify-content: left;  
      position: absolute;
      bottom: 10%;
      right: 10%;
      
      
    }

    #bookinglink {
        font-size: medium;
        position: absolute;
        left: 7%;
        justify-content: center;  
        height: 10%; 
        
    }

    .footer {
        font-size: small;     
    }

  }
