@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
  background-color: #FEFAE0;
  font-family: 'IBM Plex Mono', monospace;
  margin:0;
}
* {
  box-sizing: border-box;
}
.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;

}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.meny {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 500px));
  grid-gap: 1.5rem;
}
.meny-del {
  display: grid;
  grid-template-columns: 150px minmax(200px 280px) 60px;
  grid-template-rows: autofill(30px 1fr);
  /* grid-row-gap: 10px;*/
  grid-column-gap: 10px;
  grid-template-areas:
    "img menu-item price"
    "img description .";
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: top;
}
img {
  grid-area: img;
  width: 100%;
  min-width: 100px;
  height: auto;
}
.meny-rett {
  grid-area: menu-item;
  font-weight: bold;
}
.pris::after {
  content: " kr ";
  font-weight: bold;
}
.pris {
  grid-area: price;
  font-weight: bold;
}
.beskrivelse {
  grid-area: description;
  margin: 0;

}

.menu-item {
display: flex;
width: 50%;
list-style-type: none;
padding: 0 1rem;
margin: 0 0 1rem;
}

section {
display: flex;
flex-direction: column;
flex: 1;
}

header {
display: flex;
width: 100%;
justify-content:center;
align-items: center;

}

.spacer {
content: '';
width: 100%;
height: 1px;
margin: 0 .5rem;
border-bottom: 1px dashed black;
flex: 1;
}

h1 {
margin: 0;
font-size: 1rem;
}

.col-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.bakgrunn {

 position: relative;
 width: 100%;
  text-align: center;
  width: 100%;
}

.tittel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  font-family:'Black Han Sans', sans-serif;
  color:#8a4309;
  font-family: 'IBM Plex Mono', monospace;
}
.knapp {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #606c38;
  padding: 15px 32px;
  color: #283618;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  background-image: url("/bilder/bakgrunn1.png");
  background-position:center ;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}

/* Form style - skal endres*/
input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: #606c38;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #606c38;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Form style - skal endres*/
