
/*
.logo a img{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-style: oblique;
    width: 100%;
 
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 5%;
    padding-right: 5%;
    
}

nav ul li {
    display: inline-block; 
    padding: 20px 70px; 
    list-style-type: none;
}

nav ul li a{
    color:#363d1d;
    text-decoration: none; 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 21px;
}

nav ul li a:hover{
    color: #606C38;
}
*/

:root{
    --color-1: #FEFAE0;
  }

body{
	line-height: 1.5;
	font-family: sans-serif;
	background-color: #c6cde0;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*header*/
.header{
	background-color: var(--color-1);
	padding:12px 0;
	position: relative;
}
.header .logo,
.header .nav{
	padding:0 15px;
}
.header .logo a{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	padding:10px 0;
	color: #283618;
	text-transform: capitalize;
	transition: all 0.5s ease;
}
.header .nav ul li a:hover,
.header .nav ul li a.active{
	color: #606C38;
}
.header #nav-check{
	position: absolute;
	opacity:0;
	pointer-events: none;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #818049;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 20px;
	background-color: var(--color-1);
	position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--color-1);
   left:0;
}
.nav-toggler span::before{
	top: -6px;
}
.nav-toggler span::after{
	top: 6px;
}
@media(max-width: 500px){
    .nav-toggler{
    	display: flex;
    }
    .header .nav{
    	position: absolute;
    	left:0;
    	top:100%;
    	width: 100%;
    	background-color: var(--color-1);
    	border-top: 1px solid rgba(255,255,255,0.2);
    	opacity:0;
    	visibility: hidden;
    }
    .header .nav ul li{
    	display: block;
    	margin:0;
    }
    .header #nav-check:checked ~ .nav{
       opacity: 1;
       visibility: visible;
    }
    .header #nav-check:focus ~ .nav-toggler{
    	box-shadow: 0 0 0px #000000;
    }
    .header #nav-check:checked ~ .nav-toggler span{
    	background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before{
    	top:0;
    	transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after{
    	top:0;
    	transform: rotate(-45deg);
    }

    .headline {
        display: none;
    }


}






