@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

.container-topical {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-left: 370px;
}

.bilde-topical1 {
    width: 500px;
    height: auto;
    padding-left: 500px;
    padding-bottom: 50px;
}

.bilde-topical2 {
    width: 500px;
    height: auto;
    padding-left: 500px;
    padding-top: 50px;
}

.link-topical:link {
    color: #283618;

}

.link-topical:hover{
    color: #283618;
}

.link-topical:visited{
    color: #283618;
}