@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

.container-topical {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-left: 370px;
}

.bilde-topical1 {
    width: 500px;
    height: auto;
    padding-left: 500px;
    padding-bottom: 40px;
    padding-top: 50px;
}

.bilde-topical2 {
    width: 500px;
    height: auto;
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.link-topical:link {
    color: #283618;

}

.link-topical:hover{
    color: #283618;
}

.link-topical:visited{
    color: #283618;
}

.footer {
    background-image: linear-gradient(#BC6C25, #946229);
    color:#FEFAE0;
    height:90px;
    padding:30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
}

.telefonnummer {
    color: #FEFAE0;
  }
  
  .telefonnummer:hover{
    color: #283618;
  }
   .mailen {
       color: #FEFAE0;
  }
   .mailen:hover {
       color: #283618;
  }