@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

.container-topical1 {
    display: flex;
    flex-direction: column;  
    padding-left: 25%;
    padding-bottom: 3%;
    line-height: 200%;
}
.container-topical2 {
    display: flex;
    flex-direction: column;  
    padding-left: 25%;
    line-height: 200%;
}
.container-topical3 {
    display: flex;
    flex-direction: column;  
    padding-left: 25%;
    padding-top: 3%;
    line-height: 200%;
}

h1{
    padding-bottom: 10px;
    padding-top: 20px;
}

p {
    width: 60vw; 
}

.kulepunkter {
    width: 60vw;
    padding-left: 5%;
}

.bilde-topical1 {
    width: 65vw;
    height: 30vw;
    padding-left: 30%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.bilde-topical2 {
    width: 65vw;
    height: 30vw;
    padding-left: 30%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/*.overskrift-topical {
    font-size: 40px;
    font-weight: bold;
} */

.underoverskrift-topical {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-topical:link {
    color: #283618;

}

.link-topical:visited{
    color: #283618;
}

.link-topical:hover{
    color: #bc6c25;
}



.footer {
    background-image: linear-gradient(#BC6C25, #946229);
    color:#FEFAE0;
    height:150px;
    padding:30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left: 20%;
}

address {
    padding-right: 20%;
}

.telefonnummer {
    color: #FEFAE0;
    text-decoration: none;
  }
  
  .telefonnummer:hover{
    color: #283618;
    text-decoration: none;
  }
   .mailen {
       color: #FEFAE0;
       text-decoration: none;
  }
   .mailen:hover {
       color: #283618;
       text-decoration: none;
  }

  @media only screen and (max-width: 900px){
    .container-topical1 {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        /*width: 10%;*/

    }
 
    .container-topical2 {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        /*width: 10%;*/

    }
    .container-topical3 {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        /*width: 10%;*/

    }

    p {
        width: 80vw;


    }

    .kulepunkter {
        padding-left: 20%;
    }

    .bilde-topical1 {
        width: 90vw;
        height: auto;
        padding-left: 25%;
    }

    .bilde-topical2 {
        width: 90vw;
        height: auto;
        padding-left: 25%;
    }

    .footer-p{
        padding-right: 30%;

    }
  }