@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
body {
    background-color:#FEFAE0;
    font-family: 'Inconsolata', monospace;
    margin:0;
}

.container-topical {
    display: flex;
    flex-direction: column;
    
    padding-left: 370px;
}

p {
    width: 60vw; 
}

ul {
    width: 60vw;
}

.bilde-topical1 {
    width: 40vw;
    height: auto;
    padding-left: 500px;
    padding-bottom: 40px;
    padding-top: 50px;
}

.bilde-topical2 {
    width: 40vw;
    height: auto;
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.overskrift-topical {
    font-size: 40px;
    font-weight: bold;
}
.underoverskrift-topical {
    font-size: 20px;
    font-weight: bold;
}

.link-topical:link {
    color: #283618;

}

.link-topical:hover{
    color: #283618;
}

.link-topical:visited{
    color: #283618;
}

.footer {
    background-image: linear-gradient(#BC6C25, #946229);
    color:#FEFAE0;
    height:90px;
    padding:30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
}

.telefonnummer {
    color: #FEFAE0;
  }
  
  .telefonnummer:hover{
    color: #283618;
  }
   .mailen {
       color: #FEFAE0;
  }
   .mailen:hover {
       color: #283618;
  }

  @media only screen and (max-width: 900px){
    .container-topical {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        /*width: 10%;*/

    }

    p {
        width: 80vw;

    }

    .bilde-topical1 {
        width: 60vw;
        height: auto;
        padding-left: 20%;
    }

    .bilde-topical2 {
        width: 60vw;
        height: auto;
        padding-left: 20%;
    }
  }